In [21]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_01_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_01_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            null_padding=true
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

                 country  ...  share_solar_at_neg_price_percent
0           Austria (AT)  ...                              0.00
1           Belgium (BE)  ...                              0.00
2          Bulgaria (BG)  ...                              0.00
3           Croatia (HR)  ...                              0.00
4    Czech Republic (CZ)  ...                              0.00
5                  DE-LU  ...                              4.95
6                    DK1  ...                              0.00
7                    DK2  ...                              0.00
8           Estonia (EE)  ...                              0.00
9           Finland (FI)  ...                              0.00
10           France (FR)  ...                              0.00
11           Greece (GR)  ...                              0.00
12          Hungary (HU)  ...                              0.00
13               IE(SEM)  ...                               NaN
14           IT-Calabria  ...                              0.00
15       IT-Centre-North  ...                              0.00
16       IT-Centre-South  ...                              0.00
17              IT-North  ...                              0.00
18             IT-SACOAC  ...                               NaN
19             IT-SACODC  ...                               NaN
20           IT-Sardinia  ...                              0.00
21             IT-Sicily  ...                              0.00
22              IT-South  ...                              0.00
23           Latvia (LV)  ...                              0.00
24        Lithuania (LT)  ...                              0.00
25       Montenegro (ME)  ...                               NaN
26                   NO1  ...                              0.00
27                   NO2  ...                               NaN
28                NO2NSL  ...                               NaN
29                   NO3  ...                               NaN
30                   NO4  ...                               NaN
31                   NO5  ...                               NaN
32      Netherlands (NL)  ...                              0.00
33  North Macedonia (MK)  ...                               NaN
34           Poland (PL)  ...                              2.73
35         Portugal (PT)  ...                              0.00
36          Romania (RO)  ...                              0.00
37                   SE1  ...                              0.00
38                   SE2  ...                              0.00
39                   SE3  ...                              0.04
40                   SE4  ...                              0.22
41           Serbia (RS)  ...                               NaN
42         Slovakia (SK)  ...                              0.00
43         Slovenia (SI)  ...                              0.00
44            Spain (ES)  ...                              0.00
45      Switzerland (CH)  ...                              0.00
46                UA-IPS  ...                               NaN

[47 rows x 7 columns]

In [20]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_11_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_02_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            null_padding=true
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

Error: Conversion Error: CSV Error on Line: 1389672
Original Line:
2025-02-
Error when converting column "DateTime". Could not convert string "2025-02-" to 'TIMESTAMP'

Column DateTime is being converted as type TIMESTAMP
This type was auto-detected from the CSV file.
Possible solutions:
* Override the type for this column manually by setting the type explicitly, e.g. types={'DateTime': 'VARCHAR'}
* Set the sample size to a larger value to enable the auto-detection to scan more values, e.g. sample_size=-1
* Use a COPY statement to automatically derive types from an existing table.
* Check whether the null string value is set correctly (e.g., nullstr = 'N/A')

  file = 2025_02_AggregatedGenerationPerType_16.1.B_C.csv
  delimiter = 	 (Auto-Detected)
  quote = \0 (Auto-Detected)
  escape = \0 (Auto-Detected)
  new_line = \r\n (Auto-Detected)
  header = true (Auto-Detected)
  skip_rows = 0 (Auto-Detected)
  comment = \0 (Auto-Detected)
  strict_mode = false (Set By User)
  date_format =  (Auto-Detected)
  timestamp_format =  (Auto-Detected)
  null_padding = 1
  sample_size = 20480
  ignore_errors = false
  all_varchar = 0

In [ ]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_03_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_03_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            null_padding=true
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

Error: Conversion Error: CSV Error on Line: 1389193
Original Line:
2025-03-
Error when converting column "DateTime". Could not convert string "2025-03-" to 'TIMESTAMP'

Column DateTime is being converted as type TIMESTAMP
This type was auto-detected from the CSV file.
Possible solutions:
* Override the type for this column manually by setting the type explicitly, e.g. types={'DateTime': 'VARCHAR'}
* Set the sample size to a larger value to enable the auto-detection to scan more values, e.g. sample_size=-1
* Use a COPY statement to automatically derive types from an existing table.
* Check whether the null string value is set correctly (e.g., nullstr = 'N/A')

  file = 2025_03_AggregatedGenerationPerType_16.1.B_C.csv
  delimiter = 	 (Auto-Detected)
  quote = \0 (Auto-Detected)
  escape = \0 (Auto-Detected)
  new_line = \r\n (Auto-Detected)
  header = true (Auto-Detected)
  skip_rows = 0 (Auto-Detected)
  comment = \0 (Auto-Detected)
  strict_mode = false (Set By User)
  date_format =  (Auto-Detected)
  timestamp_format =  (Auto-Detected)
  null_padding = 1
  sample_size = 20480
  ignore_errors = false
  all_varchar = 0

In [22]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_04_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_04_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            null_padding=true
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

                 country  ...  share_solar_at_neg_price_percent
0           Austria (AT)  ...                             31.39
1           Belgium (BE)  ...                             34.18
2          Bulgaria (BG)  ...                              9.45
3           Croatia (HR)  ...                             13.43
4    Czech Republic (CZ)  ...                             26.64
5                  DE-LU  ...                             31.76
6                    DK1  ...                             20.66
7                    DK2  ...                             21.00
8           Estonia (EE)  ...                             14.43
9           Finland (FI)  ...                             19.12
10           France (FR)  ...                             32.68
11           Greece (GR)  ...                              0.00
12          Hungary (HU)  ...                             24.64
13               IE(SEM)  ...                               NaN
14           IT-Calabria  ...                              0.00
15       IT-Centre-North  ...                              0.00
16       IT-Centre-South  ...                              0.00
17              IT-North  ...                              0.00
18             IT-SACOAC  ...                               NaN
19             IT-SACODC  ...                               NaN
20           IT-Sardinia  ...                              0.00
21             IT-Sicily  ...                              0.00
22              IT-South  ...                              0.00
23           Latvia (LV)  ...                             10.43
24        Lithuania (LT)  ...                             15.52
25       Montenegro (ME)  ...                               NaN
26                   NO1  ...                              0.00
27                   NO2  ...                               NaN
28                NO2NSL  ...                               NaN
29                   NO3  ...                               NaN
30                   NO4  ...                               NaN
31                   NO5  ...                               NaN
32      Netherlands (NL)  ...                             23.98
33  North Macedonia (MK)  ...                               NaN
34           Poland (PL)  ...                             25.19
35         Portugal (PT)  ...                             35.98
36          Romania (RO)  ...                             12.32
37                   SE1  ...                             27.51
38                   SE2  ...                             28.91
39                   SE3  ...                             24.44
40                   SE4  ...                             24.86
41           Serbia (RS)  ...                               NaN
42         Slovakia (SK)  ...                             22.35
43         Slovenia (SI)  ...                             28.15
44            Spain (ES)  ...                             35.05
45      Switzerland (CH)  ...                             26.05
46                UA-IPS  ...                               NaN

[47 rows x 7 columns]

In [ ]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_05_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true,
            columns = {
                "DateTime(UTC)": "VARCHAR"
            }
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_05_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            null_padding=true,
            columns = {
                "DateTime": "VARCHAR"
            }
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

Error: Binder Error: Table "ep" does not have a column named "ContractType"

Candidate bindings: : "DateTime(UTC)"

LINE 18:         ep.ContractType = 'Day-ahead'
                 ^

In [23]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_06_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_06_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            null_padding=true
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

                 country  ...  share_solar_at_neg_price_percent
0           Austria (AT)  ...                             48.40
1           Belgium (BE)  ...                             47.00
2          Bulgaria (BG)  ...                              5.77
3           Croatia (HR)  ...                              9.29
4    Czech Republic (CZ)  ...                             25.62
5                  DE-LU  ...                             49.17
6                    DK1  ...                             27.75
7                    DK2  ...                             20.24
8           Estonia (EE)  ...                             12.21
9           Finland (FI)  ...                             13.16
10           France (FR)  ...                             40.46
11           Greece (GR)  ...                              0.00
12          Hungary (HU)  ...                             15.89
13               IE(SEM)  ...                               NaN
14           IT-Calabria  ...                              0.00
15       IT-Centre-North  ...                              0.00
16       IT-Centre-South  ...                              0.00
17              IT-North  ...                              0.00
18             IT-SACOAC  ...                               NaN
19             IT-SACODC  ...                               NaN
20           IT-Sardinia  ...                              0.00
21             IT-Sicily  ...                              0.00
22              IT-South  ...                              0.00
23           Latvia (LV)  ...                             13.69
24        Lithuania (LT)  ...                             13.86
25       Montenegro (ME)  ...                               NaN
26                   NO1  ...                              1.32
27                   NO2  ...                               NaN
28                NO2NSL  ...                               NaN
29                   NO3  ...                               NaN
30                   NO4  ...                               NaN
31                   NO5  ...                               NaN
32      Netherlands (NL)  ...                             22.21
33  North Macedonia (MK)  ...                               NaN
34           Poland (PL)  ...                             19.35
35         Portugal (PT)  ...                              1.47
36          Romania (RO)  ...                              9.89
37                   SE1  ...                             13.82
38                   SE2  ...                             14.63
39                   SE3  ...                             18.34
40                   SE4  ...                             21.94
41           Serbia (RS)  ...                               NaN
42         Slovakia (SK)  ...                             19.80
43         Slovenia (SI)  ...                             20.21
44            Spain (ES)  ...                             21.34
45      Switzerland (CH)  ...                             34.93
46                UA-IPS  ...                               NaN

[47 rows x 7 columns]

In [24]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_07_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_07_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            null_padding=true
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

                 country  ...  share_solar_at_neg_price_percent
0           Austria (AT)  ...                              3.66
1           Belgium (BE)  ...                              3.53
2          Bulgaria (BG)  ...                              0.21
3           Croatia (HR)  ...                              1.00
4    Czech Republic (CZ)  ...                              2.95
5                  DE-LU  ...                              5.24
6                    DK1  ...                              2.11
7                    DK2  ...                              1.47
8           Estonia (EE)  ...                              2.70
9           Finland (FI)  ...                              2.32
10           France (FR)  ...                              1.85
11           Greece (GR)  ...                              0.00
12          Hungary (HU)  ...                              1.86
13               IE(SEM)  ...                               NaN
14           IT-Calabria  ...                              0.00
15       IT-Centre-North  ...                              0.00
16       IT-Centre-South  ...                              0.00
17              IT-North  ...                              0.00
18             IT-SACOAC  ...                               NaN
19             IT-SACODC  ...                               NaN
20           IT-Sardinia  ...                              0.00
21             IT-Sicily  ...                              0.00
22              IT-South  ...                              0.00
23           Latvia (LV)  ...                              0.85
24        Lithuania (LT)  ...                              1.14
25       Montenegro (ME)  ...                               NaN
26                   NO1  ...                              0.00
27                   NO2  ...                               NaN
28                NO2NSL  ...                               NaN
29                   NO3  ...                               NaN
30                   NO4  ...                               NaN
31                   NO5  ...                               NaN
32      Netherlands (NL)  ...                              3.30
33  North Macedonia (MK)  ...                               NaN
34           Poland (PL)  ...                              1.86
35         Portugal (PT)  ...                              3.48
36          Romania (RO)  ...                              0.51
37                   SE1  ...                              0.70
38                   SE2  ...                              2.01
39                   SE3  ...                              1.11
40                   SE4  ...                              2.14
41           Serbia (RS)  ...                               NaN
42         Slovakia (SK)  ...                              2.39
43         Slovenia (SI)  ...                              1.84
44            Spain (ES)  ...                              3.11
45      Switzerland (CH)  ...                              3.20
46                UA-IPS  ...                               NaN

[47 rows x 7 columns]

In [27]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_08_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_08_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            null_padding=true
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

                 country  ...  share_solar_at_neg_price_percent
0           Austria (AT)  ...                             23.89
1           Belgium (BE)  ...                             21.92
2          Bulgaria (BG)  ...                              6.71
3           Croatia (HR)  ...                              9.11
4    Czech Republic (CZ)  ...                             19.22
5                  DE-LU  ...                             22.12
6                    DK1  ...                              9.86
7                    DK2  ...                             10.80
8           Estonia (EE)  ...                              3.63
9           Finland (FI)  ...                              4.34
10           France (FR)  ...                             18.71
11           Greece (GR)  ...                             12.81
12          Hungary (HU)  ...                             13.13
13               IE(SEM)  ...                               NaN
14           IT-Calabria  ...                              0.00
15       IT-Centre-North  ...                              0.00
16       IT-Centre-South  ...                              0.00
17              IT-North  ...                              0.00
18             IT-SACOAC  ...                               NaN
19             IT-SACODC  ...                               NaN
20           IT-Sardinia  ...                              0.00
21             IT-Sicily  ...                              0.00
22              IT-South  ...                              0.00
23           Latvia (LV)  ...                              2.16
24        Lithuania (LT)  ...                              4.23
25       Montenegro (ME)  ...                               NaN
26                   NO1  ...                              0.09
27                   NO2  ...                               NaN
28                NO2NSL  ...                               NaN
29                   NO3  ...                               NaN
30                   NO4  ...                               NaN
31                   NO5  ...                               NaN
32      Netherlands (NL)  ...                             10.00
33  North Macedonia (MK)  ...                               NaN
34           Poland (PL)  ...                             11.14
35         Portugal (PT)  ...                              6.34
36          Romania (RO)  ...                             10.60
37                   SE1  ...                              7.75
38                   SE2  ...                              7.70
39                   SE3  ...                              8.76
40                   SE4  ...                             10.53
41           Serbia (RS)  ...                               NaN
42         Slovakia (SK)  ...                             18.08
43         Slovenia (SI)  ...                             18.74
44            Spain (ES)  ...                              8.18
45      Switzerland (CH)  ...                             17.57
46                UA-IPS  ...                               NaN

[47 rows x 7 columns]

In [25]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_09_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_09_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            null_padding=true
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

                 country  ...  share_solar_at_neg_price_percent
0           Austria (AT)  ...                             13.96
1           Belgium (BE)  ...                             21.36
2          Bulgaria (BG)  ...                              4.59
3           Croatia (HR)  ...                              5.27
4    Czech Republic (CZ)  ...                             12.54
5                  DE-LU  ...                             24.78
6                    DK1  ...                              5.20
7                    DK2  ...                              1.01
8           Estonia (EE)  ...                              1.14
9           Finland (FI)  ...                              1.06
10           France (FR)  ...                             14.70
11           Greece (GR)  ...                             10.11
12          Hungary (HU)  ...                             10.06
13               IE(SEM)  ...                               NaN
14           IT-Calabria  ...                              0.00
15       IT-Centre-North  ...                              0.00
16       IT-Centre-South  ...                              0.00
17              IT-North  ...                              0.00
18             IT-SACOAC  ...                               NaN
19             IT-SACODC  ...                               NaN
20           IT-Sardinia  ...                              0.00
21             IT-Sicily  ...                              0.00
22              IT-South  ...                              0.00
23           Latvia (LV)  ...                              1.08
24        Lithuania (LT)  ...                              1.94
25       Montenegro (ME)  ...                               NaN
26                   NO1  ...                              0.00
27                   NO2  ...                               NaN
28                NO2NSL  ...                               NaN
29                   NO3  ...                               NaN
30                   NO4  ...                               NaN
31                   NO5  ...                               NaN
32      Netherlands (NL)  ...                             14.69
33  North Macedonia (MK)  ...                               NaN
34           Poland (PL)  ...                              5.73
35         Portugal (PT)  ...                              5.48
36          Romania (RO)  ...                              7.16
37                   SE1  ...                              0.20
38                   SE2  ...                              0.27
39                   SE3  ...                              1.20
40                   SE4  ...                              2.15
41           Serbia (RS)  ...                               NaN
42         Slovakia (SK)  ...                             12.48
43         Slovenia (SI)  ...                             10.99
44            Spain (ES)  ...                             10.44
45      Switzerland (CH)  ...                              8.42
46                UA-IPS  ...                               NaN

[47 rows x 7 columns]

In [26]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_10_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_10_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            null_padding=true
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

                 country  ...  share_solar_at_neg_price_percent
0           Austria (AT)  ...                              0.00
1           Belgium (BE)  ...                             12.23
2          Bulgaria (BG)  ...                              0.00
3           Croatia (HR)  ...                              0.03
4    Czech Republic (CZ)  ...                              0.07
5                  DE-LU  ...                              7.11
6                    DK1  ...                              3.09
7                    DK2  ...                              0.00
8           Estonia (EE)  ...                              0.03
9           Finland (FI)  ...                              0.07
10           France (FR)  ...                              4.51
11           Greece (GR)  ...                              8.81
12          Hungary (HU)  ...                              0.00
13           IT-Calabria  ...                              0.00
14       IT-Centre-North  ...                              0.00
15       IT-Centre-South  ...                              0.00
16              IT-North  ...                              0.00
17             IT-SACOAC  ...                               NaN
18             IT-SACODC  ...                               NaN
19           IT-Sardinia  ...                              0.00
20             IT-Sicily  ...                              0.00
21              IT-South  ...                              0.00
22           Latvia (LV)  ...                              0.00
23        Lithuania (LT)  ...                              0.00
24       Montenegro (ME)  ...                               NaN
25                   NO1  ...                              0.00
26                   NO2  ...                               NaN
27                NO2NSL  ...                               NaN
28                   NO3  ...                               NaN
29                   NO4  ...                               NaN
30                   NO5  ...                               NaN
31      Netherlands (NL)  ...                              0.31
32  North Macedonia (MK)  ...                               NaN
33           Poland (PL)  ...                              0.64
34         Portugal (PT)  ...                              5.44
35          Romania (RO)  ...                              0.00
36                   SE1  ...                              4.42
37                   SE2  ...                              4.00
38                   SE3  ...                              0.10
39                   SE4  ...                              0.05
40           Serbia (RS)  ...                               NaN
41         Slovakia (SK)  ...                              0.36
42         Slovenia (SI)  ...                              0.27
43            Spain (ES)  ...                              5.07
44      Switzerland (CH)  ...                              0.00
45                UA-IPS  ...                               NaN

[46 rows x 7 columns]

In [31]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ep.ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY ep.AreaCode, ep."DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto(
            '2025_11_EnergyPrices_12.1.D_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- - if PT60M & PT15M exist → only PT60M
    -- - if only PT15M  → PT15M
    -- - if only PT60M  → PT60M
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- 1. cumulative negative pricing hours from prices_dedup
neg_hours AS (
    SELECT
        AreaDisplayName AS country,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1.0
                WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours_total
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 2. Avg. market price )
avg_price AS (
    SELECT
        AreaDisplayName AS country,
        AVG("Price[Currency/MWh]") AS avg_price_eur_per_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- 3. joining on time and area codes 
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep.AreaCode,
        ep."DateTime(UTC)",
        ep.ResolutionCode,

        -- set resolutions codes
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours,

        ep."Price[Currency/MWh]" AS price_raw,

        ag."ActualGenerationOutput[MW]" AS gen_mw
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_11_AggregatedGenerationPerType_16.1.B_C_r3.csv',
            strict_mode=false,
            null_padding=true
        ) AS ag
      ON ep.AreaCode        = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime(UTC)"
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput[MW]" > 0
),

-- 4. Solar generation during negative pricing hours (in MWh)
solar_energy AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours) AS solar_mwh_total,
        SUM(
            CASE
                WHEN price_raw < 0 THEN gen_mw * interval_hours
                ELSE 0
            END
        ) AS solar_mwh_at_neg_price
    FROM joined
    GROUP BY country
),

-- 5. Capture Price (€/MWh)
capture AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * price_raw)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_eur_per_mwh
    FROM joined
    GROUP BY country
),

-- 6. Capture Price with floor price of 0 (€/MWh)
capture_floor0 AS (
    SELECT
        country,
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
)

SELECT
    a.country,
    n.neg_hours_total,

    -- avg market price electrcity (Day-ahead) in ct/kWh
    ROUND(a.avg_price_eur_per_mwh * 0.1, 3) AS avg_price_ct_per_kwh,

    -- Capture Price in ct/kWh
    ROUND(c.capture_eur_per_mwh * 0.1, 3)   AS capture_price_ct_per_kwh,
	
    -- Capture Price with floor price of 0 in ct/kWh
    ROUND(cf.capture_price_floor0_eur_per_mwh * 0.1, 3) AS capture_price_floor0_ct_kwh,

    -- Capture Rate in % 
    ROUND(
        100.0 * c.capture_eur_per_mwh
        / NULLIF(a.avg_price_eur_per_mwh, 0),
        2
    ) AS capture_rate_percent,

    -- volume share of solar power generated during negative pricing hours (in %)
    ROUND(
        100.0 * s.solar_mwh_at_neg_price
        / NULLIF(s.solar_mwh_total, 0),
        2
    ) AS share_solar_at_neg_price_percent

FROM avg_price a
LEFT JOIN neg_hours    n ON a.country = n.country
LEFT JOIN capture      c ON a.country = c.country
LEFT JOIN solar_energy s ON a.country = s.country
LEFT JOIN capture_floor0 cf ON a.country = cf.country
ORDER BY a.country;

                 country  ...  share_solar_at_neg_price_percent
0           Austria (AT)  ...                              0.00
1           Belgium (BE)  ...                              0.00
2          Bulgaria (BG)  ...                              0.00
3           Croatia (HR)  ...                              0.00
4    Czech Republic (CZ)  ...                              0.00
5                  DE-LU  ...                              0.00
6                    DK1  ...                              0.00
7                    DK2  ...                              0.00
8           Estonia (EE)  ...                              0.04
9           Finland (FI)  ...                              0.11
10           France (FR)  ...                              0.00
11           Greece (GR)  ...                              3.57
12          Hungary (HU)  ...                              0.00
13           IT-Calabria  ...                              0.00
14       IT-Centre-North  ...                              0.00
15       IT-Centre-South  ...                              0.00
16              IT-North  ...                              0.00
17             IT-SACOAC  ...                               NaN
18             IT-SACODC  ...                               NaN
19           IT-Sardinia  ...                              0.00
20             IT-Sicily  ...                              0.00
21              IT-South  ...                              0.00
22           Latvia (LV)  ...                              0.00
23        Lithuania (LT)  ...                              0.00
24       Montenegro (ME)  ...                               NaN
25                   NO1  ...                              0.00
26                   NO2  ...                               NaN
27                NO2NSL  ...                               NaN
28                   NO3  ...                               NaN
29                   NO4  ...                               NaN
30                   NO5  ...                               NaN
31      Netherlands (NL)  ...                              0.00
32  North Macedonia (MK)  ...                               NaN
33           Poland (PL)  ...                              0.00
34         Portugal (PT)  ...                              0.00
35          Romania (RO)  ...                              0.00
36                   SE1  ...                              0.70
37                   SE2  ...                              4.32
38                   SE3  ...                              0.02
39                   SE4  ...                              0.15
40           Serbia (RS)  ...                               NaN
41         Slovakia (SK)  ...                              0.00
42         Slovenia (SI)  ...                              0.00
43            Spain (ES)  ...                              1.98
44      Switzerland (CH)  ...                              0.00
45                UA-IPS  ...                               NaN

[46 rows x 7 columns]

In [30]:
SELECT * FROM read_csv_auto('2025_06_AggregatedGenerationPerType_16.1.B_C.csv') LIMIT 5;

                   DateTime  ...                       UpdateTime
0 2025-06-01 05:00:00+00:00  ... 2025-06-02 08:04:05.005000+00:00
1 2025-06-01 06:00:00+00:00  ... 2025-06-02 08:04:05.005000+00:00
2 2025-06-01 07:00:00+00:00  ... 2025-06-02 08:04:05.005000+00:00
3 2025-06-01 08:00:00+00:00  ... 2025-06-02 08:04:05.005000+00:00
4 2025-06-01 18:00:00+00:00  ... 2025-06-01 21:33:43.043000+00:00

[5 rows x 10 columns]

In [17]:
WITH prices_raw AS (
    SELECT
        ep.*,
        COUNT(*) FILTER (
            WHERE ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY AreaCode, "DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto('2025_04_EnergyPrices_12.1.D_r3.csv') ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),

prices_dedup AS (
    -- PT60M gewinnt, PT15M nur wenn kein PT60M für den Timestamp existiert
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),

-- Basis: alle Märkte mit Day-ahead-Preisen (für negative Stunden & avg price)
market_stats AS (
    SELECT
        AreaDisplayName AS country,
        -- kumulierte negative Stunden
        SUM(
            CASE
                WHEN "Price[Currency/MWh]" < 0 AND ResolutionCode = 'PT60M' THEN 1.0
                WHEN "Price[Currency/MWh]" < 0 AND ResolutionCode = 'PT15M' THEN 0.25
                ELSE 0.0
            END
        ) AS neg_hours,
        -- durchschnittlicher Marktpreis (€/MWh)
        AVG("Price[Currency/MWh]") AS avg_price_eur_mwh
    FROM prices_dedup
    GROUP BY AreaDisplayName
),

-- sauberer zeitlicher Join Preise + Solar
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep."DateTime(UTC)",
        -- Preis für Capture-Price-Berechnung (negative auf 0 setzen)
        CASE
            WHEN ep."Price[Currency/MWh]" < 0 THEN 0
            ELSE ep."Price[Currency/MWh]"
        END AS price_nonneg_eur_mwh,
        ag."ActualGenerationOutput[MW]" AS gen_mw,
        -- Flag, ob Preis negativ war (für "Solar bei negativen Preisen")
        CASE
            WHEN ep."Price[Currency/MWh]" < 0 THEN 1
            ELSE 0
        END AS is_negative_price
    FROM prices_dedup ep
    JOIN (
        SELECT * FROM read_csv_auto('2025_04_AggregatedGenerationPerType_16.1.B_C.csv')
    ) AS ag1
      ON ep.AreaCode        = ag1.AreaCode
     AND ep."DateTime(UTC)" = ag1."DateTime(UTC)"
    WHERE
        ag1.ProductionType = 'Solar'
        AND ag1."ActualGenerationOutput[MW]" > 0
),

-- Capture Price nach der "ct/kWh"-Logik, die gut zu Netztransparenz passt
capture AS (
    SELECT
        country,
        SUM(gen_mw * price_nonneg_eur_mwh) AS num_mw_eur_per_mwh,
        SUM(gen_mw)                         AS den_mw,
        -- Solar-Mengen für Anteil bei negativen Preisen
        SUM(CASE WHEN is_negative_price = 1 THEN gen_mw ELSE 0 END) AS gen_mw_neg,
        SUM(gen_mw)                                                   AS gen_mw_total
    FROM joined
    GROUP BY country
),

capture_final AS (
    SELECT
        country,
        -- €/MWh → ct/kWh : /10
        CASE 
            WHEN den_mw > 0 THEN (num_mw_eur_per_mwh / den_mw) / 10
            ELSE NULL
        END AS capture_price_ct_per_kwh,
        CASE 
            WHEN gen_mw_total > 0 THEN 100.0 * gen_mw_neg / gen_mw_total
            ELSE NULL
        END AS share_solar_neg_pct
    FROM capture
)

SELECT
    ms.country,
    -- 1) kumulierte negative Stunden
    ms.neg_hours,
    -- 2) durchschnittlicher Marktpreis (€/MWh) + in ct/kWh
    ROUND(ms.avg_price_eur_mwh, 2) AS avg_price_eur_mwh,
    ROUND(ms.avg_price_eur_mwh / 10, 3) AS avg_price_ct_per_kwh,
    -- 3) Capture Price (ct/kWh) nach "Netztransparenz-naher" Logik
    ROUND(cf.capture_price_ct_per_kwh, 3) AS capture_price_ct_per_kwh,
    -- 4) Capture Rate in % (nicht 0,43 sondern 43,0)
    CASE
        WHEN cf.capture_price_ct_per_kwh IS NOT NULL
             AND ms.avg_price_eur_mwh IS NOT NULL
             AND ms.avg_price_eur_mwh <> 0
        THEN ROUND(
            (cf.capture_price_ct_per_kwh / (ms.avg_price_eur_mwh / 10)) * 100
        , 1)
        ELSE NULL
    END AS capture_rate_pct,
    -- 5) Anteil der Solar-Erzeugung bei negativen Preisen (%)
    ROUND(cf.share_solar_neg_pct, 2) AS share_solar_at_negative_prices_pct
FROM market_stats ms
LEFT JOIN capture_final cf
       ON ms.country = cf.country
ORDER BY ms.country;

Error: Binder Error: Referenced table "ag1" not found!
Candidate tables: "ms"

LINE 63:      AND ep."DateTime(UTC)" = ag1."DateTime(UTC)"
                                       ^

In [8]:
SELECT AreaDisplayName, ContractType
FROM '2025_10_EnergyPrices_12.1.D_r3.csv'
GROUP BY AreaDisplayName, ContractType;

         AreaDisplayName ContractType
0          Portugal (PT)    Day-ahead
1                    SE3    Day-ahead
2          Slovakia (SK)    Day-ahead
3       Switzerland (CH)    Day-ahead
4                  DE-LU    Day-ahead
5             Spain (ES)     Intraday
6            France (FR)    Day-ahead
7            IT-Calabria    Day-ahead
8               IT-North    Day-ahead
9            IT-Sardinia    Day-ahead
10        Lithuania (LT)    Day-ahead
11                   NO2    Day-ahead
12           Serbia (RS)    Day-ahead
13          Estonia (EE)    Day-ahead
14          Croatia (HR)    Day-ahead
15             IT-SACODC    Day-ahead
16              IT-South    Day-ahead
17           Poland (PL)    Day-ahead
18                   SE4    Day-ahead
19         Slovenia (SI)    Day-ahead
20          Austria (AT)    Day-ahead
21          Romania (RO)    Day-ahead
22          Belgium (BE)    Day-ahead
23      Netherlands (NL)    Day-ahead
24                NO2NSL    Day-ahead
25                   NO5    Day-ahead
26                   SE2    Day-ahead
27         Bulgaria (BG)    Day-ahead
28   Czech Republic (CZ)    Day-ahead
29           Latvia (LV)    Day-ahead
30       Montenegro (ME)    Day-ahead
31                   NO1    Day-ahead
32                   NO3    Day-ahead
33                   DK2    Day-ahead
34          Hungary (HU)    Day-ahead
35  North Macedonia (MK)    Day-ahead
36                   NO4    Day-ahead
37                   SE1    Day-ahead
38                UA-IPS    Day-ahead
39                   DK1    Day-ahead
40          Finland (FI)    Day-ahead
41       IT-Centre-South    Day-ahead
42            Spain (ES)    Day-ahead
43           Greece (GR)    Day-ahead
44       IT-Centre-North    Day-ahead
45             IT-SACOAC    Day-ahead
46             IT-Sicily    Day-ahead

In [8]:
WITH area_resolution AS (
    SELECT
        AreaDisplayName,
        MAX(CASE WHEN ResolutionCode = 'PT60M' THEN 1 ELSE 0 END) AS has_PT60M,
        MAX(CASE WHEN ResolutionCode = 'PT15M' THEN 1 ELSE 0 END) AS has_PT15M
    FROM (SELECT AreaDisplayName, ResolutionCode FROM '2025_11_EnergyPrices_12.1.D_r3.csv')
    GROUP BY AreaDisplayName
),
filtered_data AS (
    SELECT
        d.AreaDisplayName,
        d."Price[Currency/MWh]",
        d.ResolutionCode,
        d.ContractType,
        d.Sequence,
        ar.has_PT60M,
        ar.has_PT15M
    FROM '2025_11_EnergyPrices_12.1.D_r3.csv' d
    JOIN area_resolution ar ON d.AreaDisplayName = ar.AreaDisplayName
    WHERE
        d.ContractType = 'Day-ahead'
        AND (d.Sequence NOT LIKE '2' AND d.Sequence NOT LIKE '3')
        -- Only keep PT60M rows if both PT60M and PT15M are available
        AND (
            (ar.has_PT60M = 1 AND ar.has_PT15M = 1 AND d.ResolutionCode = 'PT60M')
            OR (ar.has_PT60M = 1 AND ar.has_PT15M = 0 AND d.ResolutionCode = 'PT60M')
            OR (ar.has_PT60M = 0 AND ar.has_PT15M = 1 AND d.ResolutionCode = 'PT15M')
        )
)
SELECT
    AreaDisplayName AS Country,
    SUM(
        CASE
            WHEN ResolutionCode = 'PT60M' AND "Price[Currency/MWh]" < 0 THEN 1
            WHEN ResolutionCode = 'PT15M' AND "Price[Currency/MWh]" < 0 THEN 0.25
            ELSE 0
        END
    ) AS total_hours
FROM filtered_data
GROUP BY AreaDisplayName
ORDER BY total_hours DESC;

                 Country  total_hours
0                    SE2        74.50
1                    SE4        11.50
2                    SE3         9.75
3           Finland (FI)         5.00
4           Estonia (EE)         4.50
5             Spain (ES)         4.25
6         Lithuania (LT)         3.50
7            Latvia (LV)         3.50
8                    SE1         2.75
9            Poland (PL)         1.00
10   Czech Republic (CZ)         0.25
11           France (FR)         0.25
12                   NO3         0.00
13         Slovakia (SK)         0.00
14                   NO1         0.00
15                NO2NSL         0.00
16                   NO4         0.00
17                   NO5         0.00
18         Portugal (PT)         0.00
19         Bulgaria (BG)         0.00
20      Switzerland (CH)         0.00
21                 DE-LU         0.00
22       IT-Centre-South         0.00
23             IT-SACOAC         0.00
24           IT-Calabria         0.00
25                   NO2         0.00
26          Austria (AT)         0.00
27           IT-Sardinia         0.00
28             IT-Sicily         0.00
29          Romania (RO)         0.00
30           Serbia (RS)         0.00
31         Slovenia (SI)         0.00
32                UA-IPS         0.00
33                   DK2         0.00
34          Hungary (HU)         0.00
35       Montenegro (ME)         0.00
36          Belgium (BE)         0.00
37                   DK1         0.00
38           Greece (GR)         0.00
39       IT-Centre-North         0.00
40  North Macedonia (MK)         0.00
41          Croatia (HR)         0.00
42              IT-North         0.00
43             IT-SACODC         0.00
44              IT-South         0.00
45      Netherlands (NL)         0.00

In [3]:
SELECT
    name,
    has_PT60M,
    has_PT15M,
    CASE
        WHEN has_PT60M = 1 AND has_PT15M = 1 THEN 1
        ELSE 0
    END AS has_both
FROM (
    SELECT
        AreaDisplayName AS name,
        MAX(CASE WHEN ResolutionCode = 'PT60M' THEN 1 ELSE 0 END) AS has_PT60M,
        MAX(CASE WHEN ResolutionCode = 'PT15M' THEN 1 ELSE 0 END) AS has_PT15M
    FROM '2025_06_EnergyPrices_12.1.D_r3.csv'
    GROUP BY AreaDisplayName
)

                    name  has_PT60M  has_PT15M  has_both
0                    NO1          0          1         0
1                 NO2NSL          1          0         0
2          Slovakia (SK)          1          0         0
3                    DK2          1          0         0
4           Hungary (HU)          1          0         0
5        Montenegro (ME)          1          0         0
6                    NO4          0          1         0
7                    NO5          0          1         0
8          Portugal (PT)          1          0         0
9                    SE3          1          0         0
10          Belgium (BE)          1          0         0
11                   DK1          1          0         0
12           Greece (GR)          1          0         0
13          Croatia (HR)          1          0         0
14              IT-North          0          1         0
15             IT-SACODC          0          1         0
16              IT-South          0          1         0
17      Netherlands (NL)          1          0         0
18          Romania (RO)          1          0         0
19           Serbia (RS)          0          1         0
20         Slovenia (SI)          1          0         0
21                UA-IPS          1          0         0
22           IT-Calabria          0          1         0
23                   NO2          0          1         0
24          Austria (AT)          1          1         1
25           IT-Sardinia          0          1         0
26             IT-Sicily          0          1         0
27           Latvia (LV)          1          0         0
28                   SE2          1          0         0
29   Czech Republic (CZ)          1          0         0
30               IE(SEM)          1          0         0
31           Poland (PL)          1          0         0
32                   SE1          1          0         0
33         Bulgaria (BG)          1          0         0
34      Switzerland (CH)          1          0         0
35                 DE-LU          1          1         1
36            Spain (ES)          1          0         0
37           France (FR)          1          0         0
38       IT-Centre-South          0          1         0
39             IT-SACOAC          0          1         0
40          Estonia (EE)          1          0         0
41          Finland (FI)          1          0         0
42       IT-Centre-North          0          1         0
43        Lithuania (LT)          1          0         0
44  North Macedonia (MK)          1          0         0
45                   NO3          0          1         0
46                   SE4          1          0         0

In [11]:
WITH raw AS (
    SELECT
        *,
        CAST(SUBSTR(filename, 6, 2) AS INTEGER) AS month,
        COUNT(*) FILTER (
            WHERE ResolutionCode = 'PT15M'
        ) OVER (
            PARTITION BY AreaDisplayName, "DateTime(UTC)"
        ) AS cnt_15m_same_ts
    FROM read_csv_auto(
        '2025_??_EnergyPrices_12.1.D_r3.csv', 
        filename=true
    )
    WHERE 
        ContractType = 'Day-ahead'
        AND Sequence NOT IN ('2', '3')
),
agg AS (
    SELECT
        AreaDisplayName AS Country,
        month,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT15M'
                     AND "Price[Currency/MWh]" < 0
                THEN 0.25
                ELSE 0
            END
        ) AS hours_15m,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M'
                     AND cnt_15m_same_ts = 0
                     AND "Price[Currency/MWh]" < 0
                THEN 1
                ELSE 0
            END
        ) AS hours_60m
    FROM raw
    GROUP BY AreaDisplayName, month
),
agg_pivot AS (
    SELECT
        Country,
        COALESCE(SUM(CASE WHEN month = 1 THEN hours_15m + hours_60m END), 0) AS Jan_neg_hour,
        COALESCE(SUM(CASE WHEN month = 2 THEN hours_15m + hours_60m END), 0) AS Feb_neg_hour,
        COALESCE(SUM(CASE WHEN month = 3 THEN hours_15m + hours_60m END), 0) AS Mar_neg_hour,
        COALESCE(SUM(CASE WHEN month = 4 THEN hours_15m + hours_60m END), 0) AS Apr_neg_hour,
        COALESCE(SUM(CASE WHEN month = 5 THEN hours_15m + hours_60m END), 0) AS May_neg_hour,
        COALESCE(SUM(CASE WHEN month = 6 THEN hours_15m + hours_60m END), 0) AS Jun_neg_hour,
        COALESCE(SUM(CASE WHEN month = 7 THEN hours_15m + hours_60m END), 0) AS Jul_neg_hour,
        COALESCE(SUM(CASE WHEN month = 8 THEN hours_15m + hours_60m END), 0) AS Aug_neg_hour,
        COALESCE(SUM(CASE WHEN month = 9 THEN hours_15m + hours_60m END), 0) AS Sep_neg_hour,
        COALESCE(SUM(CASE WHEN month = 10 THEN hours_15m + hours_60m END), 0) AS Oct_neg_hour,
        COALESCE(SUM(CASE WHEN month = 11 THEN hours_15m + hours_60m END), 0) AS Nov_neg_hour,
        COALESCE(SUM(CASE WHEN month = 12 THEN hours_15m + hours_60m END), 0) AS Dec_neg_hour,
        COALESCE(SUM(hours_15m + hours_60m), 0) AS Annual_neg_hour
    FROM agg
    GROUP BY Country
),
prices_raw AS (
    SELECT
        ep.*,
        CAST(SUBSTR(ep.filename, 6, 2) AS INTEGER) AS month,
        COUNT(*) FILTER (
            WHERE ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY AreaDisplayName, "DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto('2025_??_EnergyPrices_12.1.D_r3.csv', filename=true) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),
prices_dedup AS (
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep."DateTime(UTC)",
        ep.ResolutionCode,
        ep.month,
        CASE
            WHEN ep."Price[Currency/MWh]" < 0 THEN 0
            ELSE ep."Price[Currency/MWh]"
        END AS price_nonneg,
        ep."Price[Currency/MWh]" AS price_raw,  -- FIX: Add the raw price column
        ag."ActualGenerationOutput" AS gen_mw,
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_??_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            ignore_errors=true,
            filename=true
        ) AS ag
      ON ep.AreaCode = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
     AND ep.month = CAST(SUBSTR(ag.filename, 6, 2) AS INTEGER)
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),
capture_price AS (
    SELECT
        country,
        month,
        SUM(gen_mw * interval_hours * price_raw) AS weighted_price_sum,
        SUM(gen_mw * interval_hours) AS weighted_gen_sum,
        ROUND(
            SUM(gen_mw * interval_hours * price_raw)
            / NULLIF(SUM(gen_mw * interval_hours), 0),
            2
        ) AS capture_price
    FROM joined
    GROUP BY country, month
),
capture_floor0 AS (
    SELECT
        country,
		month, 	
        SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0) AS capture_price_floor0_eur_per_mwh
    FROM joined
    GROUP BY country
),	
capture_price_annual AS (
    SELECT
        country,
        ROUND(
            SUM(weighted_price_sum) / NULLIF(SUM(weighted_gen_sum), 0),
            2
        ) AS annual_capture_price
    FROM capture_price
    GROUP BY country
),
capture_price_pivot AS (
    SELECT
        cp.country,
        COALESCE(MAX(CASE WHEN cp.month = 1 THEN cp.capture_price END), 0) AS Jan_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 2 THEN cp.capture_price END), 0) AS Feb_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 3 THEN cp.capture_price END), 0) AS Mar_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 4 THEN cp.capture_price END), 0) AS Apr_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 5 THEN cp.capture_price END), 0) AS May_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 6 THEN cp.capture_price END), 0) AS Jun_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 7 THEN cp.capture_price END), 0) AS Jul_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 8 THEN cp.capture_price END), 0) AS Aug_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 9 THEN cp.capture_price END), 0) AS Sep_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 10 THEN cp.capture_price END), 0) AS Oct_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 11 THEN cp.capture_price END), 0) AS Nov_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 12 THEN cp.capture_price END), 0) AS Dec_cprice,
        ca.annual_capture_price
    FROM capture_price cp
    LEFT JOIN capture_price_annual ca ON cp.country = ca.country
    GROUP BY cp.country, ca.annual_capture_price
)
SELECT
    cp.country,
    ap.Jan_neg_hour, ap.Feb_neg_hour, ap.Mar_neg_hour, ap.Apr_neg_hour, ap.May_neg_hour, ap.Jun_neg_hour,
    ap.Jul_neg_hour, ap.Aug_neg_hour, ap.Sep_neg_hour, ap.Oct_neg_hour, ap.Nov_neg_hour, ap.Dec_neg_hour,
    ap.Annual_neg_hour,
    cp.Jan_cprice, cp.Feb_cprice, cp.Mar_cprice, cp.Apr_cprice, cp.May_cprice, cp.Jun_cprice,
    cp.Jul_cprice, cp.Aug_cprice, cp.Sep_cprice, cp.Oct_cprice, cp.Nov_cprice, cp.Dec_cprice,
    cp.annual_capture_price
FROM capture_price_pivot cp
LEFT JOIN agg_pivot ap
    ON cp.country = ap.Country
ORDER BY cp.country;

Error: Parser Error: syntax error at end of input

In [16]:
WITH raw AS (
    SELECT
        *,
        CAST(SUBSTR(filename, 6, 2) AS INTEGER) AS month,
        COUNT(*) FILTER (
            WHERE ResolutionCode = 'PT15M'
        ) OVER (
            PARTITION BY AreaDisplayName, "DateTime(UTC)"
        ) AS cnt_15m_same_ts
    FROM read_csv_auto(
        '2025_??_EnergyPrices_12.1.D_r3.csv', 
        filename=true
    )
    WHERE 
        ContractType = 'Day-ahead'
        AND Sequence NOT IN ('2', '3')
),
agg AS (
    SELECT
        AreaDisplayName AS Country,
        month,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT15M'
                     AND "Price[Currency/MWh]" < 0
                THEN 0.25
                ELSE 0
            END
        ) AS hours_15m,
        SUM(
            CASE
                WHEN ResolutionCode = 'PT60M'
                     AND cnt_15m_same_ts = 0
                     AND "Price[Currency/MWh]" < 0
                THEN 1
                ELSE 0
            END
        ) AS hours_60m
    FROM raw
    GROUP BY AreaDisplayName, month
),
agg_pivot AS (
    SELECT
        Country,
        COALESCE(SUM(CASE WHEN month = 1 THEN hours_15m + hours_60m END), 0) AS Jan_neg_hour,
        COALESCE(SUM(CASE WHEN month = 2 THEN hours_15m + hours_60m END), 0) AS Feb_neg_hour,
        COALESCE(SUM(CASE WHEN month = 3 THEN hours_15m + hours_60m END), 0) AS Mar_neg_hour,
        COALESCE(SUM(CASE WHEN month = 4 THEN hours_15m + hours_60m END), 0) AS Apr_neg_hour,
        COALESCE(SUM(CASE WHEN month = 5 THEN hours_15m + hours_60m END), 0) AS May_neg_hour,
        COALESCE(SUM(CASE WHEN month = 6 THEN hours_15m + hours_60m END), 0) AS Jun_neg_hour,
        COALESCE(SUM(CASE WHEN month = 7 THEN hours_15m + hours_60m END), 0) AS Jul_neg_hour,
        COALESCE(SUM(CASE WHEN month = 8 THEN hours_15m + hours_60m END), 0) AS Aug_neg_hour,
        COALESCE(SUM(CASE WHEN month = 9 THEN hours_15m + hours_60m END), 0) AS Sep_neg_hour,
        COALESCE(SUM(CASE WHEN month = 10 THEN hours_15m + hours_60m END), 0) AS Oct_neg_hour,
        COALESCE(SUM(CASE WHEN month = 11 THEN hours_15m + hours_60m END), 0) AS Nov_neg_hour,
        COALESCE(SUM(CASE WHEN month = 12 THEN hours_15m + hours_60m END), 0) AS Dec_neg_hour,
        COALESCE(SUM(hours_15m + hours_60m), 0) AS Annual_neg_hour
    FROM agg
    GROUP BY Country
),
prices_raw AS (
    SELECT
        ep.*,
        CAST(SUBSTR(ep.filename, 6, 2) AS INTEGER) AS month,
        COUNT(*) FILTER (
            WHERE ResolutionCode = 'PT60M'
        ) OVER (
            PARTITION BY AreaDisplayName, "DateTime(UTC)"
        ) AS cnt_60m_same_ts
    FROM read_csv_auto('2025_??_EnergyPrices_12.1.D_r3.csv', filename=true) AS ep
    WHERE
        ep.ContractType = 'Day-ahead'
        AND ep.Sequence NOT IN ('2', '3')
),
prices_dedup AS (
    SELECT *
    FROM prices_raw
    WHERE
        ResolutionCode = 'PT60M'
        OR (ResolutionCode = 'PT15M' AND cnt_60m_same_ts = 0)
),
joined AS (
    SELECT
        ep.AreaDisplayName AS country,
        ep."DateTime(UTC)",
        ep.ResolutionCode,
        ep.month,
        CASE
            WHEN ep."Price[Currency/MWh]" < 0 THEN 0
            ELSE ep."Price[Currency/MWh]"
        END AS price_nonneg,
        ep."Price[Currency/MWh]" AS price_raw,
        ag."ActualGenerationOutput" AS gen_mw,
        CASE
            WHEN ep.ResolutionCode = 'PT15M' THEN 0.25
            WHEN ep.ResolutionCode = 'PT60M' THEN 1.0
            ELSE 1.0
        END AS interval_hours
    FROM prices_dedup AS ep
    JOIN read_csv_auto(
            '2025_??_AggregatedGenerationPerType_16.1.B_C.csv',
            strict_mode=false,
            ignore_errors=true,
            filename=true
        ) AS ag
      ON ep.AreaCode = ag.AreaCode
     AND ep."DateTime(UTC)" = ag."DateTime"
     AND ep.month = CAST(SUBSTR(ag.filename, 6, 2) AS INTEGER)
    WHERE
        ag.ProductionType = 'Solar'
        AND ag."ActualGenerationOutput" > 0
),
-- capture price calculation 
capture_price AS (
    SELECT
        country,
        month,
        SUM(gen_mw * interval_hours * price_raw) AS weighted_price_sum,
        SUM(gen_mw * interval_hours) AS weighted_gen_sum,
        ROUND(
            SUM(gen_mw * interval_hours * price_raw)
            / NULLIF(SUM(gen_mw * interval_hours), 0),
            2
        ) AS capture_price
    FROM joined
    GROUP BY country, month
),
-- floor-priced capture price per month
capture_floor0 AS (
    SELECT
        country,
        month,
        ROUND(SUM(gen_mw * interval_hours * CASE WHEN price_raw < 0 THEN 0 ELSE price_raw END)
        / NULLIF(SUM(gen_mw * interval_hours), 0),2) AS capture_price_floor0
    FROM joined
    GROUP BY country, month
),
-- annual capture price 
capture_price_annual AS (
    SELECT
        country,
        ROUND(
            SUM(weighted_price_sum) / NULLIF(SUM(weighted_gen_sum), 0),
            2
        ) AS annual_capture_price
    FROM capture_price
    GROUP BY country
),
-- capture price pivoting 
capture_price_pivot AS (
    SELECT
        cp.country,
        COALESCE(MAX(CASE WHEN cp.month = 1 THEN cp.capture_price END), 0) AS Jan_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 2 THEN cp.capture_price END), 0) AS Feb_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 3 THEN cp.capture_price END), 0) AS Mar_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 4 THEN cp.capture_price END), 0) AS Apr_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 5 THEN cp.capture_price END), 0) AS May_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 6 THEN cp.capture_price END), 0) AS Jun_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 7 THEN cp.capture_price END), 0) AS Jul_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 8 THEN cp.capture_price END), 0) AS Aug_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 9 THEN cp.capture_price END), 0) AS Sep_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 10 THEN cp.capture_price END), 0) AS Oct_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 11 THEN cp.capture_price END), 0) AS Nov_cprice,
        COALESCE(MAX(CASE WHEN cp.month = 12 THEN cp.capture_price END), 0) AS Dec_cprice,
        ca.annual_capture_price
    FROM capture_price cp
    LEFT JOIN capture_price_annual ca ON cp.country = ca.country
    GROUP BY cp.country, ca.annual_capture_price
),
-- pivot for floor-priced capture prices per month
capture_floor0_pivot AS (
    SELECT
        cf.country,
        COALESCE(MAX(CASE WHEN cf.month = 1 THEN cf.capture_price_floor0 END), 0) AS Jan_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 2 THEN cf.capture_price_floor0 END), 0) AS Feb_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 3 THEN cf.capture_price_floor0 END), 0) AS Mar_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 4 THEN cf.capture_price_floor0 END), 0) AS Apr_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 5 THEN cf.capture_price_floor0 END), 0) AS May_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 6 THEN cf.capture_price_floor0 END), 0) AS Jun_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 7 THEN cf.capture_price_floor0 END), 0) AS Jul_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 8 THEN cf.capture_price_floor0 END), 0) AS Aug_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 9 THEN cf.capture_price_floor0 END), 0) AS Sep_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 10 THEN cf.capture_price_floor0 END), 0) AS Oct_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 11 THEN cf.capture_price_floor0 END), 0) AS Nov_cprice_floor0,
        COALESCE(MAX(CASE WHEN cf.month = 12 THEN cf.capture_price_floor0 END), 0) AS Dec_cprice_floor0
    FROM capture_floor0 cf
    GROUP BY cf.country
)

SELECT
    cp.country,
    -- negative hours - per month
    ap.Jan_neg_hour, ap.Feb_neg_hour, ap.Mar_neg_hour, ap.Apr_neg_hour, ap.May_neg_hour, ap.Jun_neg_hour,
    ap.Jul_neg_hour, ap.Aug_neg_hour, ap.Sep_neg_hour, ap.Oct_neg_hour, ap.Nov_neg_hour, ap.Dec_neg_hour,
    ap.Annual_neg_hour,
    -- capture price per month 
    cp.Jan_cprice, cp.Feb_cprice, cp.Mar_cprice, cp.Apr_cprice, cp.May_cprice, cp.Jun_cprice,
    cp.Jul_cprice, cp.Aug_cprice, cp.Sep_cprice, cp.Oct_cprice, cp.Nov_cprice, cp.Dec_cprice,
    cp.annual_capture_price,
    -- floor-priced capture price per month
    cfp.Jan_cprice_floor0, cfp.Feb_cprice_floor0, cfp.Mar_cprice_floor0, cfp.Apr_cprice_floor0,
    cfp.May_cprice_floor0, cfp.Jun_cprice_floor0, cfp.Jul_cprice_floor0, cfp.Aug_cprice_floor0,
    cfp.Sep_cprice_floor0, cfp.Oct_cprice_floor0, cfp.Nov_cprice_floor0, cfp.Dec_cprice_floor0
FROM capture_price_pivot cp
LEFT JOIN agg_pivot ap
    ON cp.country = ap.Country
LEFT JOIN capture_floor0_pivot cfp
    ON cp.country = cfp.country
ORDER BY cp.country;

                country  Jan_neg_hour  ...  Nov_cprice_floor0  Dec_cprice_floor0
0          Austria (AT)           0.0  ...                0.0                0.0
1          Belgium (BE)           0.0  ...                0.0                0.0
2         Bulgaria (BG)           0.0  ...                0.0                0.0
3          Croatia (HR)           0.0  ...                0.0                0.0
4   Czech Republic (CZ)           0.0  ...                0.0                0.0
5                 DE-LU          14.0  ...                0.0                0.0
6                   DK1           0.0  ...                0.0                0.0
7                   DK2           0.0  ...                0.0                0.0
8          Estonia (EE)           0.0  ...                0.0                0.0
9          Finland (FI)           0.0  ...                0.0                0.0
10          France (FR)           0.0  ...                0.0                0.0
11          Greece (GR)           0.0  ...                0.0                0.0
12         Hungary (HU)           0.0  ...                0.0                0.0
13          IT-Calabria           0.0  ...                0.0                0.0
14      IT-Centre-North           0.0  ...                0.0                0.0
15      IT-Centre-South           0.0  ...                0.0                0.0
16             IT-North           0.0  ...                0.0                0.0
17          IT-Sardinia           0.0  ...                0.0                0.0
18            IT-Sicily           0.0  ...                0.0                0.0
19             IT-South           0.0  ...                0.0                0.0
20          Latvia (LV)           0.0  ...                0.0                0.0
21       Lithuania (LT)           0.0  ...                0.0                0.0
22                  NO1           0.0  ...                0.0                0.0
23     Netherlands (NL)           0.0  ...                0.0                0.0
24          Poland (PL)          11.0  ...                0.0                0.0
25        Portugal (PT)           0.0  ...                0.0                0.0
26         Romania (RO)           0.0  ...                0.0                0.0
27                  SE1           0.0  ...                0.0                0.0
28                  SE2           0.0  ...                0.0                0.0
29                  SE3          12.0  ...                0.0                0.0
30                  SE4          16.0  ...                0.0                0.0
31        Slovakia (SK)           2.0  ...                0.0                0.0
32        Slovenia (SI)           0.0  ...                0.0                0.0
33           Spain (ES)           0.0  ...                0.0                0.0
34     Switzerland (CH)           0.0  ...                0.0                0.0

[35 rows x 39 columns]